{% extends 'base/base_jumbotron.html' %}
{% block container_block %}

<h1>{{ post.title }}</h1>
{% if post.image %}
    <img class="img-fluid" src="{{ post.image.url }}" alt="IMAGE NOT FOUND">
{% endif %}
<p>{{ post.content }}</p>
<p>
<strong>posted by: </strong> {{ post.user.username }} <br>
<strong>date posted: </strong> {{ post.date_added }} <br>
<strong>group: </strong> {{ post.group.name }}
</p>

<hr>
<h1 class="page_header">Comments</h1>
<hr>

{% if object_list %}
  {% for comment in object_list %}
    <p>{{ comment.content }}</p>
    <p>
      <strong>username: </strong>{{ comment.user.username }}<br>
      <strong>date added: </strong>{{ comment.date_added }}<br>
    </p>

<hr>
  {% endfor %}
{% else %}
<h2>No Comments Yet!</h2>
{% endif %}
{% if user.is_authenticated %}
<form action="{% url 'new_comment' user.pk post.pk %}" method="get">
  {% csrf_token %}
  <input class="btn btn-success" type="submit" value="New Comment">
</form>
{% else %}
<hr>
<h2>You need to be logged to make a Comment</h2>
{% endif %}
{% endblock %}
