{% extends 'base/base_jumbotron.html' %}
{% block container_block %}
<h1 class="page_header">Groups</h1>
<hr>
{% if object_list %}
    {% for group in object_list %}
    <div class="container">
      <a href="{% url 'posts' group.pk %}"><h4>{{ group }}</h4></a>
      <p>{{ group.description }}</p>
      <p>created by: {{ group.user.username }}</p>
      <hr>
    </div>
    {% endfor %}
{% else %}
  <h2>No Groups in List!</h2>
{% endif %}

{% if user.is_authenticated %}
  <form action="{% url 'new_group' user.pk %}" method="get">
    {% csrf_token %}
    <input class="btn btn-success" type="submit" value="New Group">
  </form>
{% else %}
<div class="alert alert-dark" role="alert">
  <h2>You need to be logged in to make a new Group!</h2>
</div>
{% endif %}

{% endblock %}
