{% extends 'base/base.html' %}
{% block navbar %}
<h1 class="page_header">Posts</h1>
<hr>
<h2>{{ group.name }}</h2>
<p>{{ group.description }}</p>
<p><strong>created by: </strong>{{ group.user.username }}</p>
<hr>

{% if object_list %}
    {% for post in object_list %}
    <a href="{% url 'comments' post.pk %}"><h4>{{ post.title }}</h4></a>
    <p>{{ post.content }}</p>
    <p>
      <strong>posted by: </strong>{{ post.user.username }} <br>
      <strong>group: </strong>{{ post.group.name }} <br>
      <strong>date_added: </strong>{{ post.date_added }}
    </p>
    {% endfor %}
{% else %}
  <h2>No Posts in Group!</h2>
{% endif %}

{% endblock %}
