

<div class="form-group">
  <button id="btn_background_cp" class="btn btn-secondary dropdown-toggle form-control" type="button">
    New Sketch
  </button>
</div>
<button class="btn btn-sm btn-primary form-group cp" id="reset_btn" type="button" name="button">
  Reset
</button>
<div class="form-group cp" id="background_cp"></div>

<div class="form-group">
  <button id="btn_stroke_cp" class="btn btn-secondary dropdown-toggle form-control" type="button">
    Stroke Colour
  </button>
</div>
<div class="form-group" id="stroke_cp"></div>

<div class="form-group">
  <button id="btn_stroke_weight" class="btn btn-secondary dropdown-toggle form-control" type="button">
    Stroke Weight
  </button>
</div>
<div class="form-group" id="stroke_weight_div">
  <input type="range" class="form-control-range" id="stroke_weight_range" min="1" max="100" value="12">
  <p id="stroke_weight_label">12 px</p>
</div>

<div class="form-group">
  <button id="download_btn" class="btn btn-secondary dropdown-toggle form-control" type="button">
    Download Sketch
  </button>
</div>
<div class="form-group cp" id="download_div">
    <input type="text" class="form-control" id="download_input" placeholder="filename">
    <button id="download_btn_submit" class="btn btn-sm btn-outline-primary" type="button" >Submit</button>
</div>
