body{
  font-family: 'Roboto', sans-serif;
  }

.page_header{
  text-align:center;
}

.thumb_img{
  height:80%;
  width:80%;
}

.cp{
  display:none;
}

#download_btn_submit{
  margin-top:10px;
}

#p5_div{
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  z-index: -9;
}
